# Duże pliki danych
data/interim/*.csv
data/processed/*.csv
data/processed/*.parquet

# Power BI cache
dashboards/powerbi/*.pbi.tmp
**/.pbi/
*.pbip.user
*.pbip-desktop-cache

# Tableau extracts (duże pliki)
dashboards/tableau/extracts/

# Python cache lokalnie w projekcie
__pycache__/
*.pyc

# Tymczasowe pliki analizy
notebooks/.ipynb_checkpoints/

# Backupy
*_backup.*


# Jupyter virtual documents - tymczasowe pliki
**/.virtual_documents/
.notebooks_tmp/

# OS/IDE noise
.DS_Store
Thumbs.db