# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.env

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.temp
../../.virtual_documents/
